@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 14% 7%;
    --foreground: 210 40% 98%;
  }

  * {
    border-color: #30363d;
  }

  body {
    @apply bg-surface-900 text-gray-100 antialiased;
  }

  ::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }
  ::-webkit-scrollbar-track {
    @apply bg-surface-800;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-surface-500 rounded-full;
  }
}
